/*Metropolis.css (v1.1) by happycupcake.
Heavily inspired by City.css by NeoMathematicalKid.
Keep this entire comment if the code is used in part or as a whole.*/

/*Header*/
#header{
    /*You can set the background image on the next line*/
    background: url('https://upload.wikimedia.org/wikipedia/commons/8/8d/Frog_on_palm_frond.jpg');
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    height: 50vh;
    overflow: hidden;
    padding-top: 25vh;
    border: none;
}
#header > a > h1{
    margin-top:-2.5rem;
    font-size: 5rem;
    text-decoration: none;
    color: white; /*Set to whatever color fits*/
}
#content{
    position: relative;
    z-index: 100;
    margin-top: 50vh;
    min-height: 50vh;
    background: white;
    box-shadow: 0px 0px 5rem black;
    border-top: 2px solid #aaa;
}
/*Navigation header*/
#navigation_box {
    height: 2.5rem;
    border-bottom: 2px solid #aaaa;
    position: fixed;
    background-color: white;
    padding: 0px;
}
#left_navigation_box,
#right_navigation_box{
    font-size: 0px;
}
#left_navigation_box a,
#right_navigation_box a{
    color: black !important;
    font-size: 1.25rem !important;
    padding: .75rem;
    transition: box-shadow .2s;
    box-shadow: 0px 0rem 0px #aaa inset;
}
#left_navigation_box a:hover,
#right_navigation_box a:hover{
    box-shadow: 0px .2rem 0px #aaa inset;
}
#left_navigation_box:not(:hover) a:last-child {
    box-shadow: 0px .2rem 0px #aaa inset;
}
/*Wrapper*/
#wrapper{
    width: 100%;
    padding: 0px;
    border: 0px;
}
.avatar > img{
    position: absolute;
    top: -41px;
    left: 50%;
    margin-left: -40px;
    height: 84px;
    width: 84px;
    background: white;
    border: 2px solid #aaa;
    border-radius: 41px;
}
#side{
    width: 260px;
}
#main{
    width: calc(100% - 520px);
    margin-left: 260px;
}
.entry > h1,
.entry > h2{
    text-align: center;
}
.entry > h2 img{
    display: none;
}
.entrywrap{
    border: none !important;
    background: none !important;
}
#post-new-entry-p{
    height: 30px;
    margin: -30px 0px 0px 15px;
}
#main{
    padding-top: 40px;
}
.message{
    text-align: justify;
}
